.about {
 padding: 80px 0px 100px 0px ;
}
.title {
  font-family: $ff-main-bold;
  text-align: center;
  margin: 0;
  &-text {
    text-align: center;
    font-family: $ff-main;
    font-size: 1.1rem;
  }
  &-header {
    font-size: 2rem;
  }
}
.services {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}
.service {
  display: flex;
  margin: 30px 10px 0px 10px;
  width: auto;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  &-icon {
    height: 80px;
    width: 80px;
    background-position: center;
    background-size: contain;
    margin: 0 auto;
    background-repeat: no-repeat;
  }
  &-icon__like {
    background-image: url(images/icons/like.png) ;
  }
  &-icon__book {
    background-image:url(images/icons/book.png);
  }
  &-icon__message {
    background-image: url(images/icons/message.png);
  }
  &-name {
    margin: 10px 0;
    font-size: 1.25rem;
  }
  &-text {
    margin: 0;
  }
  &-name,
  &-text {
    text-align: center;
  }
}
.title-decor-line {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 3px;
    background-color: #424242;
    bottom: -8px;
    left: 50%;
    transform: translateX(-20px);
  }
}
