.steps{
  background-color: #e2e2e2;
  padding-top: 60px;
  counter-reset: count;
  padding-bottom: 60px;
}
.step {
  background-color: white;
  margin-top: 40px;
  border-radius: 5px;
  color: #424242;
  display: flex;
  flex-direction: row;
  max-height: 235px;
  text-align: left;
  box-shadow: -1px -1px 10px 1px rgba(214,214,214,1);
  &:nth-child(2n) {
    flex-direction: row-reverse;
    text-align: right;
  }
  &:nth-child(2n) .step-img__container .step-counter {
    right: 285px;
  }
  &:nth-child(2n+1) .step-text-container {
    padding-left: 70px;
  }
  &:nth-child(2n) .step-text-container {
    padding-right: 70px;
  }
}
.step-text-container {
  padding-top: 70px;
}
.step-img__container {
  position: relative;
}
.step-img {
  height: 235px;
}
.step-counter {
  text-align: center;
  color:white;
  border-radius: 3px;
  position: absolute;
  border: 2px solid white;
  top: 50%;
  right: -50px;
  background-color: red;
  height: 103px;
  width: 103px;
  transform: translateY(-50%);
  &:before{
    content: counter(count);
    display: block;
    margin-top: 15px;
    text-align: center;
    line-height: 1;
    font-size: 40px;
    font-family: $ff-steps;
    counter-increment: count;
  }
}

.step-name{
  font-family: $ff-main-bold;
  padding-bottom: 10px;
  font-size: 1.2rem;
}
.step-text{
  line-height: 1.5;
}