.button {
  display: inline-block;
  padding: 10px 22px 7px;
  border-radius: 3px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 0.9rem;
  &__red {
    background-color: #de2b24;
    &:hover {
      transition: 0.3s;
      background: lighten(red, 20%)
    }
  }
  &__yellow {
    background-color: yellow;
     &:hover {
      transition: 0.3s;
      background: lighten(yellow, 20%)
    }
  }
  &__green {
    background-color: green;
     &:hover {
      transition: 0.3s;
      background: lighten(green, 20%)
    }
  }
}
