@font-face {
  font-family: georgia-bold;
  src: url(fonts/georgia-bold.woff);
}
@font-face {
  font-family: helvetica-neue-bold;
  src: url(fonts/helvetica-neue-bold.woff2);
}
@font-face {
  font-family: helvetica-neue-light;
  src: url(fonts/helvetica-neue-light.woff2);
}
@font-face {
  font-family: helvetica-neue-regular;
  src: url(fonts/helvetica-neue-regular.woff2);
}
