.container
 .about
  h2.title.title-header About Us
  .title-text.title-decor-line We are added out major Services
  .services
   .service
    .service-icon__like
    h3.service-name Facebook marketing
    p.service-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias repellendus cum repellat sunt nesciunt hic 
   .service
    .service-icon__book
    h3.service-name Landing page creation
    p.service-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias repellendus cum repellat sunt nesciunt hic 
   .service
    .service-icon__message
    h3.service-name Ads marketing
    p.service-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias repellendus cum repellat sunt nesciunt hic 