footer.footer
 .container
  .footer-header Get in touch
  .social-container
   a.contact(href="#")
    i.fab.fa-facebook-f.contact-icon
   
   a.contact(href="#")
    i.fab.fa-twitter.contact-icon
    
   a.contact(href="#")
    i.fab.fa-google-plus-g.contact-icon
    
   a.contact(href="#")
    i.fab.fa-instagram.contact-icon
    
  .footer-suscribe-text subscribe to our neswletter to stay update with what is new
  .footer-form
   input.footer-input(placeholder="Email Adress")
   button.button-footer Subscribe
.footer-bottom
 .author 2018
   
    
  