section.form-section
 .container
  h2.title.title-header Get our Facebook analysis free now
  .title-text enter your detail below
  a.arrow-container
   .arrow
  .form-block
   .triangle
   .form
    .decor-close
    .input-block
     .input-text Lorem Get our Facebook analysis free now     enter your detail below
     input.input(placeholder="Your Name")
     input.input(placeholder="Contact Number")
     input.input(placeholder="Company Name")
     button.input-button submit now