.steps 
 .container
  h2.title.title-header Our Aproch
  .title-text.title-decor-line Check our pproches step by step(as we do it)
  .step
   .step-img__container
    img.step-img(src="images/step-1.jpg")
    .step-counter step
   .step-text-container
    .step-name Step 1: Heading here
    .step-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias repellendus cum repellat sunt nesciunt hic
  .step 
   .step-img__container
    img.step-img(src="images/step-2.jpg")
    .step-counter step
   .step-text-container
    .step-name Step 1: Heading here
    .step-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias repellendus cum repellat sunt nesciunt hic
  .step
   .step-img__container
    img.step-img(src="images/step-3.jpg")
    .step-counter step
   .step-text-container
    .step-name Step 1: Heading here
    .step-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias repellendus cum repellat sunt nesciunt hic
  .step
   .step-img__container
    img.step-img(src="images/step-4.jpg")
    .step-counter step
   .step-text-container
    .step-name Step 1: Heading here
    .step-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias repellendus cum repellat sunt nesciunt hic 