section.work
 .container
  h2.title.title-header Our Work
  .title-text.title-decor-line We are added our features work below
  ul.work-list
   li.work-item.work-item__name
    .work-name Project name
    .work-descr Facebook marketing
   li.work-item 
    img.work-picture(src="images/work-1.jpg")
   li.work-item.work-item__name
    .work-name Project name
    .work-descr Facebook marketing
   li.work-item 
    img.work-picture(src="images/work-2.jpg")
   li.work-item 
    img.work-picture(src="images/work-3.jpg")
   li.work-item.work-item__name
    .work-name Project name
    .work-descr Facebook marketing
   li.work-item 
    img.work-picture(src="images/work-4.jpg")
   li.work-item.work-item__name
    .work-name Project name
    .work-descr Facebook marketing
   